<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<h1><%= t('avalara.settings') %></h1>

<%= form_tag(admin_avatax_settings_path, :method => :put, :id => :avatax_settings_form) do %>

<div class="yui-g">
  <div class="yui-u first">
    <fieldset>
      <legend><%= t('avatax_api_login_and_key') %></legend>
      <p>
        <label><%= t('avatax_company_code') %></label><br />
        <%= text_field_tag('settings[company_code]', Spree::AvalaraPreference.company_code.value, :maxlength => 256, :class => 'avatax') %>
      </p>

      <p>
        <label><%= t('avatax_account') %></label><br />
        <%= text_field_tag('settings[account]', Spree::AvalaraPreference.account.value, :maxlength => 256, :class => 'avatax') %>
      </p>
      <p>
        <label><%= t('avatax_license_key') %></label><br />
        <%= text_field_tag('settings[license_key]', Spree::AvalaraPreference.license_key.value, :maxlength => 256, :class => 'avatax') %>
      </p>
    </fieldset>

    <fieldset>
      <legend><%= t('avatax_endpoint_urls') %></legend>
      <p>
        <label><%= t('avatax_endpoint') %></label><br />
        <%= text_field_tag('settings[endpoint]', Spree::AvalaraPreference.endpoint.value, :size => 46, :maxlength => 256, :class => 'avatax') %>
      </p>
      <p>
        <label><%= t('avatax_servicepath_tax') %></label><br />
        <input type="text" placeholder="<%= AVATAX_SERVICEPATH_TAX %>", readonly>
      </p>
      <p>
        <label><%= t('avatax_servicepath_address') %></label><br />
        <input type="text" placeholder="<%= AVATAX_SERVICEPATH_ADDRESS %>", readonly>
      </p>
    </fieldset>

    <fieldset>
      <legend><%= t('avatax_log') %></legend>
      <p>
        <label><%= t('enable_avatax_logging') %></label><br />
        <%= check_box_tag('settings[log]','yes' , Spree::AvalaraPreference.log.value, :class => 'avatax') %>
      </p>
    </fieldset>

    <fieldset>
      <legend><%= t('avatax_log_to_stdout') %></legend>
      <p>
        <label><%= t('avatax_log_to_stdout') %></label><br />
        <%= check_box_tag('settings[log_to_stdout]','yes' , Spree::AvalaraPreference.log_to_stdout.value, :class => 'avatax') %>
      </p>
    </fieldset>

    <fieldset>
      <legend><%= t('avatax_address_validation') %></legend>
      <p>
        <label><%= t('enable_avatax_address_validation') %></label><br />
        <%= check_box_tag('settings[address_validation]','yes' , Spree::AvalaraPreference.address_validation.value, :class => 'avatax') %>
      </p>
      <p>
        <label>Refuse Checkout if Address Validation Fails</label><br />
        <%= check_box_tag('settings[refuse_checkout_address_validation_error]','yes' , Spree::AvalaraPreference.refuse_checkout_address_validation_error.value, :class => 'avatax') %>
      </p>
    </fieldset>

    <fieldset>
      <legend><%= t('avatax_address_validation_enabled_countries') %></legend>
      <p>
        <% current_countries = Spree::Country.where(name: Spree::AvalaraPreference.validation_enabled_countries_array) %>
        <label><%= t('enable_avatax_address_validation_for_these_countries') %></label><br />
        <%= select_tag('settings[address_validation_enabled_countries]', options_from_collection_for_select(Spree::Country.all, "name", "name", selected: current_countries), multiple: true, class: "select2 fullwidth") %>
      </p>
    </fieldset>
    <fieldset>
      <legend><%= t('avatax_tax_calculation') %></legend>
      <p>
        <label><%= t('enable_avatax_tax_calculation') %></label><br />
        <%= check_box_tag('settings[tax_calculation]','yes' , Spree::AvalaraPreference.tax_calculation.value, :class => 'avatax') %>
      </p>
    </fieldset>

        <fieldset>
      <legend><%= t('avatax_document_committing') %></legend>
      <p>
        <label><%= t('enable_avatax_document_committing') %></label><br />
        <%= check_box_tag('settings[document_commit]','yes' , Spree::AvalaraPreference.document_commit.value, :class => 'avatax') %>
      </p>
    </fieldset>

    <fieldset id='business-address'>
      <legend><%= t('business_address') %></legend>
      <p>
        <label><%= Spree.t('address1') %></label><br />
        <%= text_field_tag('address[Line1]', @avatax_origin["Line1"], :size => 46, :maxlength => 256, :class => 'avatax') %>
      </p>
      <p>
        <label><%= Spree.t('address2') %></label><br />
        <%= text_field_tag('address[Line2]', @avatax_origin["Line2"], :size => 46, :maxlength => 256, :class => 'avatax') %>
      </p>
      <p>
        <label><%= Spree.t('city') %></label><br />
        <%= text_field_tag('address[City]', @avatax_origin["City"], :size => 46, :maxlength => 256, :class => 'avatax') %>
      </p>
       <p>
        <label><%= t('country') %></label><br />
        <span id="scountry">
          <%= select_tag 'address[Country]', options_from_collection_for_select(Spree::Country.all, 'id', 'name', Spree::Country.find_by(iso: @avatax_origin["Country"]).try(:id)), {:class => 'select2 avatax'} %>
        </span>
      </p>
      <p>
        <label><%= Spree.t('state') %></label><br />
        <span id="sstate">
          <%= select_tag 'address[Region]', options_from_collection_for_select(Spree::Country.find_by(iso: @avatax_origin["Country"]).try(:states), 'id', 'name', Spree::State.find_by(abbr: @avatax_origin["Region"]).try(:id)), {:class => 'select2 avatax'} %>
        </span>
      </p>
      <p>
        <label><%= Spree.t('zipcode') %></label><br />
        <%= text_field_tag('address[PostalCode]', @avatax_origin["PostalCode"], :size => 46, :maxlength => 256, :class => 'avatax') %>
      </p>

      <a href="#" class="button address_validator" style="float: right;">Validate</a>
    </fieldset>
    <fieldset>
    <legend><%= t('log_files') %></legend>
    <p>Log files are located in the log directory of your spree website.</p>
    <table>
    <tr>
   <td>
    <table>
      <tr>
        <td>Tax Service calls - tax_svc.log</td>
        <td><%= link_to("Download", {controller: :avatax_settings, action: :get_file_txt_tax_svc}) %>
        </td>
        <td>
          <%= link_to("Clear Data", {controller: :avatax_settings, action: :erase_data, remote: true, log_name: "tax_svc"}) %>
        </td>
      </tr>
      <tr>
        <td>Avalara Function calls -  post_order_to_avalara.log</td>
        <td><%= link_to("Download", {controller: :avatax_settings, action: :get_file_post_order_to_avalara}) %>
        </td>
        <td>
          <%= link_to("Clear Data", {controller: :avatax_settings, action: :erase_data, remote: true, log_name: "post_order_to_avalara"}) %>
        </td>
      </tr>
      <tr>
        <td>Spree Order Item integration calls - avalara_order.log</td>
        <td><%= link_to("Download", {controller: :avatax_settings, action: :get_file_avalara_order}) %>
        </td>
        <td>
          <%= link_to("Clear Data", {controller: :avatax_settings, action: :erase_data, remote: true, log_name: "avalara_order"}) %>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</fieldset>
  </div>
</div>

<p class="form-buttons"><%= button t('save_preferences') %></p>

<% end %>


<% content_for :head do %>
  <%= javascript_tag do -%>
    $(document).ready(function(){
      $('span#scountry .select2').on('change', function() { update_state('s'); });
    });
  <% end -%>
<% end %>
