<%= render 'spree/admin/shared/taxes_tabs' %>

<% content_for :page_title do %>
  <%= t('spree.avalara_settings') %>
<% end %>

<table>
  <tr>
    <th><%= t('spree.avatax_company_code') %>:</th>
    <td><%= Spree::Avatax::Config.company_code %></td>
  </tr>
  <tr>
    <th><%= t('spree.avatax_license_key') %>:</th>
    <td><%= Spree::Avatax::Config.license_key %></td>
  </tr>
  <tr>
    <th><%= t('spree.avatax_account') %>:</th>
    <td><%= Spree::Avatax::Config.account %></td>
  </tr>
  <tr>
    <th><%= t('spree.enable_avatax_tax_calculation') %>:</th>
    <td><%= Spree::Avatax::Config.tax_calculation %></td>
  </tr>
  <tr>
    <th><%= t('spree.enable_avatax_document_committing') %>:</th>
    <td><%= Spree::Avatax::Config.document_commit %></td>
  </tr>
  <tr>
    <th><%= t('spree.log') %>:</th>
    <td><%= Spree::Avatax::Config.log %></td>
  </tr>
  <tr>
    <th><%= t('spree.log_to_stdout') %>:</th>
    <td><%= Spree::Avatax::Config.log_to_stdout %></td>
  </tr>
  <tr>
    <th><%= t('spree.raise_exceptions') %>:</th>
    <td><%= Spree::Avatax::Config.raise_exceptions %></td>
  </tr>
  <tr>
    <th><%= t('spree.enable_avatax_address_validation') %>:</th>
    <td><%= Spree::Avatax::Config.address_validation %></td>
  </tr>
  <tr>
    <th scope="row">Refuse Checkout if Address Validation Fails</th>
    <td><%= Spree::Avatax::Config.refuse_checkout_address_validation_error %></td>
  </tr>
  <tr>
    <th scope="row">Customer can Validate Address in Checkout</th>
    <td><%= Spree::Avatax::Config.customer_can_validate %></td>
  </tr>
  <tr>
    <th><%= t('spree.avatax_address_validation_enabled_countries') %>:</th>
    <% address_validated_countries = Spree::Avatax::Config.address_validation_enabled_countries %>
    <td>
      <% unless address_validated_countries.nil? %>
      <ul style="list-style: inside;">
        <% address_validated_countries.each do |country| %>
        <li><%= Spree::Country.find_by_name(country) %></li>
        <% end %>
      </ul>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><%= t('spree.business_address') %>:</th>

    <td><table>
      <tr><td><%= t('spree.address1') %>: <%= @avatax_origin["line1"]  %> </td></tr>
      <tr><td><%= t('spree.address2') %>: <%= @avatax_origin["line2"]  %></td></tr>
      <tr><td><%= t('spree.city') %>: <%= @avatax_origin["city"]  %></td></tr>
      <tr><td><%= t('spree.state') %>: <%= @avatax_origin["region"]  %></td></tr>
      <tr><td><%= t('spree.zipcode') %>: <%= @avatax_origin["postalCode"]  %></td></tr>
      <tr><td><%= t('spree.country_code') %>: <%= @avatax_origin["country"] %></td></tr>
    </table></td>
  </tr>
  <tr>
    <th>Connection Status</th>
    <td>
      <%= link_to({:controller => :avatax_settings, :action => :ping_my_service, :remote => true }, {:class => 'btn btn-small'}) do %>
      <button>Test Connection</button> <% end %>
    </td>
  </tr>

  <tr>
    <th><%= t('spree.avatax_log') %></th>
    <td>
      The avatax log is located in the log directory of your spree app.
      <table>
        <tr>
          <td>Avatax Log - avatax.log</td>
          <td><%= link_to("Download", { controller: :avatax_settings, action: :download_avatax_log }) %></td>
          <td><%= link_to("Clear Data", { controller: :avatax_settings, action: :erase_data, remote: true }) %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
