<%= render 'spree/admin/shared/taxes_tabs' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_avalara_entity_use_code) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', Spree.t(:back_to_avalara_entity_use_codes_list), admin_avalara_entity_use_codes_path, :class => 'button' %></li>
<% end %>

<%= render 'spree/shared/error_messages', :target => @avalara_entity_use_code %>

<%= form_for [:admin, @avalara_entity_use_code], :method => :put do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p class="form-buttons" data-hook="buttons"><%= button Spree.t(:update) %></p>
<% end %>
