<%= render 'spree/admin/shared/taxes_tabs' %>

<% content_for :page_title do %>
  <%= t('spree.avalara_entity_use_codes') %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to t('spree.new_avalara_entity_use_code'), new_object_url, :icon => 'plus', :id => 'admin_new_avalara_entity_use_code_link' %>
    </li>
<% end %>

<table class="index" id="listing_sale_events" data-hook>
  <thead>
  <tr data-hook="admin_sale_events_index_headers">
    <th><%= t('spree.use_code') %></th>
    <th ><%= t('spree.use_code_description') %></th>
    <tH data-hook="admin_sale_events_index_header_actions"></tH>
  </tr>
  </thead>
  <tbody>
  <% @avalara_entity_use_codes.each do |use_code|%>
      <tr id="<%= dom_id use_code %>" data-hook="admin_sale_events_index_rows">
        <td><%=link_to use_code.use_code, object_url(use_code) %></td>
        <td><%=use_code.use_code_description %></td>
        <td data-hook="admin_avalara_entity_use_codes_index_row_actions">
          <%= link_to_edit use_code, :class => 'edit' %> &nbsp;
          <%= link_to_delete use_code %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
